.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
   
  


}
.App select:first-child{
  margin: 5rem;
}
.App select{
  height: 30px;
  background: #fff;
  color: black;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 0 10px 0 10px;
}
.App select option{
  


}


